@model int
@using JasperSiteCore.Models.Database
@inject DatabaseContext databaseContext
@*@{ var query = Convert.ToInt32(Context.Request.Query["id"]);}*@
@{
    Layout = Helper.JasperUrl("_Layout.cshtml", addTilde: true);


    Article article = J.GetArticleById(Model);
    @if (article != null)
    {
        ViewData["Title"] = article.Name;


        <div class="container-fluid article-text">
            <j-article id="@Model">

                <div class="jumbotron">
                    <h1> <j-name /></h1>
                    <small>Publikováno: <j-date /></small>
                </div>

                <j-content />
            </j-article>
        </div>
    }
    else
    {

        <div class="jumbotron"> <h2>Článek se nepodařilo nalézt.</h2></div>
        <p>
            Zadaný článek neexistuje, nebo je již nedostupný. <br />
        </p>
        <p>
            <a href="./"><i class="fa fa-undo"></i> Vrátit se na hlavní stránku.</a>
        </p>
    }

}




