@model JasperSiteCore.Areas.Admin.ViewModels.EditBlockViewModel
@{
    ViewData["Title"] = "Úprava textového bloku";
}
@section Scripts {
    
<script src="~/Areas/Admin/Content/Scripts/SavedInfoPanel.js"></script>
   

    @{ Html.RenderPartial("TinyMceSettingsPartialView");}
}

@section Styles {

    <link href="~/node_modules/jquery-ui-dist/jquery-ui.min.css" rel="stylesheet" />

}



<div class="container-fluid">

   
    <div id="mainForm">
      @Html.Partial("EditTextBlockPartialView", Model)
        </div>
    </div>