@model JasperSiteCore.Areas.Admin.ViewModels.EditBlockViewModel
@{
    ViewData["Title"] = "Úprava textového bloku";
}
@section Scripts {

    <script src="~/Areas/Admin/Content/Scripts/SavedInfoPanel.js"></script>
    <script src="~/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
    @{ Html.RenderPartial("TinyMceSettingsPartialView");}

    @*@{ Html.RenderPartial("TinyMceSettingsPartialView");}*@



    <script>
        /* AJAX TINYMCE SUBMIT WITH NO JS FALLBACK */
        $(document).ready(function () {

            $('#btnSaveTinymce').click(function (e) {

        if($("#tinymceForm").valid()) // form can't be "manually" submitted with errors
        {
                e.preventDefault();

               // var formData = $("#tinymceForm").serialize();
                var textarea = tinyMCE.activeEditor.getContent();
                var model = {
                    Id: $("#hiddenId").val(),
                    Name: $("#tbName").val(),
                    Content: textarea

                };

                $.ajax({
                    type: 'post',
                    url: '@Url.Action("SaveBlock","Blocks")',
                    data: model,
                    dataType: 'HTML',
                    success: function (data) {

                        $("#modelNameHeader").text(data);
                        savedInfo("<strong>Uloženo.</strong> Veškeré provedené změny byly uloženy.", "alert-success");
                    },
                    error: function(data){
        savedInfo("<strong>Chyba.</strong> Změny nemohly být uloženy.", "alert-danger");
                      
        
                    }
                });
        }
            });

        });
    </script>


}

@section Styles {

    <link href="~/node_modules/jquery-ui-dist/jquery-ui.min.css" rel="stylesheet" />

}



<div class="container-fluid">


    @* Model is never returning partial view - too slow and laggy with tinyMCE *@
    <div id="mainForm">
        @Html.Partial("EditTextBlockPartialView", Model.TextBlock)
    </div>

    <div id="mainForm2">
        @Html.Partial("AddedAndLooseHoldersPartialView", Model.HolderManagement)
    </div>

</div>