@using JasperSiteCore.Models.Database
@using  JasperSiteCore.Models
@using JasperSiteCore.Areas.Admin.Controllers

@model JasperSiteCore.Areas.Admin.ViewModels.BlockViewModel
@{
    ViewData["Title"] = "Bloky";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts {

    <script src="~/Areas/Admin/Content/Scripts/SavedInfoPanel.js"></script>
    <script src="~/Areas/Admin/Content/Scripts/AlertWindow.js"></script>
}
<style>
    .j-table-headers-left th {
        text-align: left;
    }
</style>

<div class="jumbotron j-jumbotron"><h1><i class="fa fa-diamond j-icon" aria-hidden="true"></i>Správa bloků</h1></div>





<h2><i class="fa fa-th-large j-icon" aria-hidden="true"></i>Nový textový blok</h2>
<!--ADD NEW BLOCK-->

<div id="mainForm1">
    @{Html.RenderPartial("BlockFormPartialView");}
</div>
<div id="modalTargetDiv"></div>