@{
Layout = null;
}
@model JasperSiteCore.Areas.Admin.ViewModels.LoginViewModel

<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Areas/Admin/Content/Images/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Přihlášení do administrace</title>

    @* ===============================STYLES================================ *@
   
    <environment include="Development">
        <link href="~/node_modules/tether/dist/css/tether.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/Areas/Admin/Content/Styles/design.css" />
        <link rel="stylesheet" href="~/Areas/Admin/Content/Styles/login-page.css" />
    </environment>

    <environment exclude="Development">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous" />

        <link rel="stylesheet" href="~/Areas/Admin/Content/Styles/design.min.css" />
        <link rel="stylesheet" href="~/Areas/Admin/Content/Styles/login-page.min.css" />
      
    </environment>

    @* ===============================SCRIPTS================================ *@
    <environment include="Development">
        <script src="~/node_modules/jquery/dist/jquery.js"></script>
        <script src="~/node_modules/tether/dist/js/tether.js"></script>
        <script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/node_modules/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    </environment>


    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">

</head>
<body>
    @Html.Partial("_ErrorModalPartialViewTemp")

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">

          
            @if (!User.Identity.IsAuthenticated)
            {

                <div class="login-form col-lg-6 col-md-8 col-sm-10 col-12">
                    <form asp-area="Admin" asp-controller="Login" asp-action="Index" method="post">
                        <h2 class="text-center">J<span style="color:#BA68C8">asp</span>er Site <span style="color:#BA68C8">Core </span></h2>

                        <div class="form-group">
                            <input asp-for="Username" type="text" class="form-control" placeholder="Uživatelské jméno" required="required">
                        </div>
                        <div class="form-group">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Heslo" required="required">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-jasper" style="width:100%">Přihlásit se</button>
                        </div>

                        <div class="clearfix">
                            <label class="pull-left checkbox-inline"><input asp-for="Remember" type="checkbox"> Zapamatovat si</label> <br />
                            <a asp-area="" asp-controller="Home" asp-action="Index">Zpátky na web</a>
                        </div>

                        @if (!string.IsNullOrEmpty(Context.Request.Query["ReturnUrl"]))
                        {
                            <input type="hidden" name="returnUrl" value="@Context.Request.Query["ReturnUrl"]" />

                        }


                    </form>

                </div>

            }
            else
            {

                <div class="login-form">
                    <form>
                        <h2 class="text-center">J<span style="color:#BA68C8">asp</span>er Site <span style="color:#BA68C8">Core </span></h2>


                        <div class="form-group">
                            <a style="width:100%" asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-jasper">Administrace</a>
                            <a asp-area="Admin" asp-controller="Login" asp-action="SignOut" class="btn btn-jasper btn-leave">Odhlásit se</a>

                        </div>
                        <div>
                            <a asp-area="" asp-controller="Home" asp-action="Index">Zpátky na web</a>
                        </div>
                    </form>
                </div>
            }

        </div>
    </div>
</body>
</html>
