@{
Layout = null;
}
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Areas/Admin/Content/Images/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/Areas/Admin/Content/Styles/design.css" />
       
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <!-- TODO: Nalinkovat minifikaci -->
        <link rel="stylesheet" href="~/Areas/Admin/Content/Styles/design.css" asp-append-version="true" />
     
    </environment>

    @************************************************************** Scripts ****************************************************************************@
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        @*<script src="@Helper.JasperUrl("./Scripts/script.js")" asp-append-version="true"></script>*@
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <!-- TODO: Nalinkovat minifikaci -->
        @*<script src="@Helper.JasperUrl("./Scripts/script.js")" asp-append-version="true"></script>*@
    </environment>



    @Html.Raw(JavaScriptSnippet.FullScript)

    <link href="~/Areas/Admin/Content/design.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Lora&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
    <style>
        /* Login section */
        #loginBox {
            max-width: 600px;
            margin: 0px auto;
            margin-bottom: 50px;
            margin-top: 20px;
            padding: 5px;
        }

            #loginBox div.login-row {
                display: flex;
                padding: 5px;
            }

                #loginBox div.login-row input[type=password], input[type=text], input[type=submit] {
                    flex: 1;
                }



                #loginBox div.login-row div:first-child {
                    width: 100px;
                }
    </style>
</head>
<body>

    <div id="headerPanel">
        <div style="flex:1;display:flex">
            <div style="margin:auto;flex-shrink: 0;">

                <h1 style="margin:0px;padding:0px;">J<span class="font-jasper">ASP</span>ER SITE</h1>
            </div>
        </div>
    </div>


    <div>

        <div id="loginBox">
            <h2>Přihlášení do administrace</h2>
            <div class="login-row">
                <div class="hidden-xs-down">Login</div>
                <input type="text" placeholder="Zadejte uživatelské jméno" class="form-control" />
            </div>
            <div class="login-row">
                <div class="hidden-xs-down">Heslo</div>
                <input type="password" placeholder="Zadejte heslo" class="form-control" />
            </div>
            <div class="login-row">
                <input type="submit" value="Přihlásit se" class="btn" />
            </div>
        </div>


    </div>

</body>
</html>
