@using JasperSiteCore.Models.Database
@using JasperSiteCore.Models

@{
    Layout = Helper.JasperUrl("_Layout.cshtml", addTilde: true);
}
<h1>Toto jsou kategorie</h1>
<p>
 @foreach (Article a in Configuration.DbHelper.GetAllArticles())
 {
     <b>@a.Name</b> <br />
      <blockquote>
          @Html.Raw(a.HtmlContent)
      </blockquote> <br />
      <hr />
 }

  </p>


