
@import url(https://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans|Noto+Serif|Noto+Sans&subset=latin,latin-ext);

body {
    background-image: url(../Images/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /*font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";*/
    font-family: "Noto Sans";
}
.article-text {
    font-family: "Open Sans";
}
.j-render-container {
   
}

.container {
    
}

.j-footer {
    background-color: #c0e0b9;
    margin-top: 20px;
}

.website-name-title {
    color:#9bf088;
   font-size:1.1em;
    
}

.jasper-container-outer {
    padding: 0px;
    background-color: white;
   
}
.jasper-container-inner {
    /*margin:0px;
    padding: 10px;*/
 
   
}





/*
  Overides bootstrap navbar: fully expanded menu is wraping it's content. 
*/
@media (min-width:992px) {
    #navbarNavDropdown ul {
        display: inline-block;
    }

        #navbarNavDropdown ul li {
            display: block;
            display: inline-block;
        }

            #navbarNavDropdown ul li a {
                display: block;
                white-space: nowrap;
                display: inline-block;
            }
}



 /*@media (min-width: 576px) {
    
     .container {
      
     }

}
 @media (min-width: 768px) {
    
}

@media (min-width: 992px) {

}

 @media (min-width: 1200px) {
    
}*/