<div class="jumbotron j-jumbotron">
    <h1><i class="fa fa-diamond j-icon" aria-hidden="true"></i> Vyhledávání </h1>
</div>



<div class="alert alert-warning">
    <div style="display:flex">
       
        <div>
            <i class="fa fa-wrench fa-5x" aria-hidden="true"></i>
        </div>

        <div style="align-self:center;margin:10px">
            
            <h4>  vyhledávání není momentálně implementováno</h4>
            
        </div>
    </div>
    <div style="display:flex">
        
    </div>
</div>