@model JasperSiteCore.Areas.Admin.ViewModels.ImagesViewModel
@using JasperSiteCore.Models.Database
@{
    ViewData["Title"] = "Obrázky";
}
@section Scripts
    {

<script src="~/Areas/Admin/Content/Scripts/SavedInfoPanel.js"></script>
<script>
        /* IMAGE UPLOAD DISABLE SUBMIT WHEN EMPTY */
        $(document).ready(
            function () {
                $('#files').change(
                    function () {
                        if ($(this).val()) {
                            $('#submitThemeFile').attr('disabled', false);
                        }
                        else {

                            $('#submitThemeFile').attr('disabled', true);
                        }
                    }
                );
            });


        

</script>
}

<div class="jumbotron j-jumbotron"><h1><i class="fa fa-diamond j-icon" aria-hidden="true"></i>Obrázky</h1></div>

<h1> <i class="fa fa-upload j-icon" aria-hidden="true"></i> Nahrání obrázku</h1>


<section class="j-admin-section j-left-border-block">

    <p>Pokud chcete ve Vašich příspěvcích používat vlastní obrázky, je nutné jejich nahrání:</p>

    <form method="post" asp-controller="Images" asp-action="PostImage" asp-area="admin" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" accept="image/*" class="form-control-file" id="files" name="files" aria-describedby="fileHelp" multiple>
            <small id="fileHelp" class="form-text text-muted"> Je možné nahrávat pouze obrázkové formáty (.JPG,.PNG apod.)</small>
        </div>
        <div class="form-group">
            <input type="submit" value="Nahrát" class="btn btn-jasper" id="submitThemeFile" disabled />
        </div>

    </form>

</section>
<hr />
<section class="j-admin-section">
    <div id="mainForm">
        @Html.PartialAsync("UploadedImagesPartialView").Result
    </div>
</section>
