<script>
$(document).ready(function () {


            var errorPanel = $(`


<div id="myModal" class="modal fade" role="dialog" style="z-index:99999!important">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="max-height:500px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="margin-left:20px">Chyba</h4>
            </div>
            <div class="modal-body" style="overflow-y: auto;">
                Váš požadavek nebylo možno provést. <br/>
        @if(ViewBag.ErrorMessage != null)
        {
             <text> Chyba: @ViewBag.ErrorMessage </text>
        }


</div>
            <div class="modal-footer">

                <button type="button" class="btn btn-jasper" data-dismiss="modal" title="Zrušit">Zavřít</button>
            </div>
        </div>

    </div>
</div>


`);




    @if(!string.IsNullOrEmpty(ViewBag.Error))
    {
       <text>var error = @ViewBag.Error;</text>
    }
    else
    {
        <text> var error = 0;</text>
    }

    if (error == 1) {


        errorPanel.css({
            "display": "block",
            });
            $("body").append(errorPanel);
        $("#myModal").modal("toggle");
    }
    });
</script>