@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Chyba";
  
}

<div class="jumbotron">
    <h1><i class="fa fa-exclamation-triangle j-icon" aria-hidden="true"></i>  Něco se pokazilo </h1>
</div>


<div class="alert alert-warning">
    <strong>Chyba.</strong>  Na stránce se vyskytla neočekávaná chyba, nebo daná adresa neexistuje.
</div>


