
@import url(https://fonts.googleapis.com/css?family=Noto+Serif|Oldenburg|Noto+Serif&subset=latin,latin-ext);

body {
    background-image: url(../Images/arizona_beam.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /*font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";*/
    font-family: "Noto Serif";
}
.article-text {
    font-family: "Oldenburg";
  
}
.j-render-container {
   
}

.container {
    
}

.j-footer {
    background-color:rgba(226, 177, 173, 0.51);
    margin-top:20px;
}

.website-name-title {
    color: #E2B1AD;
   font-size:1.1em;
    
}

.jasper-container-outer {
    padding: 0px;
    background-color: white;
   
}
.jasper-container-inner {
    /*margin:0px;
    padding: 10px;*/
 
   
}


@media (max-width: 768px) {

    .jasper-container-outer {
        width:100%;
        margin:0px;
        padding:0px;
    }

    .jasper-container-inner {
        margin:0px;
     width:100%;
        background-color: white;
    }

    body {
        margin:0px;
        padding:0px;
        background-image: none;
    }

 
}


 /*@media (min-width: 576px) {
    
     .container {
      
     }

}
 @media (min-width: 768px) {
    
}

@media (min-width: 992px) {

}

 @media (min-width: 1200px) {
    
}*/