
@{
    ViewData["Title"] = "About";
}

<style>
    p {
        text-align: justify;
    }

    dl dt, dd {
        text-align: justify;
    }
</style>

<h2>About</h2>



<div class="row">
    <div class="col-lg-6 col-sm-12">
        <section class="j-admin-section">
            <h2><i class="fa fa-desktop j-icon" aria-hidden="true"></i>Content Management System</h2>
            <p>
                This CMS is called    <b>J<span style="color:#BA68C8">asp</span>erSite</b>.
                The origin of this name is following:
                <dl>
                    <dt>J<span style="color:#BA68C8">asp</span>er</dt>
                    <dd>
                        Jasper is a mineral of many colours.
                        Moreover, the three letters "asp" in the word  <span style="color:#BA68C8"><b>asp</b></span> refers to the ASP.NET technology.
                        Finally the first two letters "ja" are the same as the first letters of the author's first name.

                    </dd>
                    <dt>Site</dt>
                    <dd>Site stands for <i>website.</i></dd>
                </dl>
            </p>

            <hr />

            <h2><i class="fa fa-code-fork j-icon" aria-hidden="true"></i>Versioning</h2>
            <table class="table  table-bordered j-table-no-hover">
                <tr><th>Name</th><th>Property</th></tr>
                <tr>
                    <td>Version</td>
                    <td>1.0.0</td>
                </tr>

                <tr>  <td>Author</td> <td>Bc. Jaromír Kejda</td> </tr>
                <tr>
                    <td>Available as</td>

                    <td>
                        <ul>
                            <li>Part of master's thesis: <i>Design and Implementation of Content Management System in ASP.NET Core</i> (Only Czech)</li>
                            <li>Github Repository - English and Czech</li>
                        </ul>


                    </td>

                </tr>

            </table>

        </section>
    </div>

    <div class="col-lg-6 col-sm-12 ">
        <section class="j-admin-section">
            <h2><i class="fa fa-graduation-cap j-icon" aria-hidden="true"></i>Master's thesis</h2>
            <p>
                This content management system <i>(CMS - Content Management System)</i>
                was developed as a part of master's thesis: (<i>Design and Implementation of Content Management System in ASP.NET Core</i>) on on Czech University of Life Sciences in Prague.
                The author of this project is a master's student Bc. Jaromír Kejda.
            </p>


            <img src="~/Areas/Admin/Content/Images/logo.png" class="img-fluid" />
            <img src="~/Areas/Admin/Content/Images/logo_pef.png" class="img-fluid" />

        </section>
    </div>



</div>