@model int
@using JasperSiteCore.Models.Database
@using JasperSiteCore.Models
@{
    ViewData["Title"] = "Article";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@* Jquery UI is used only on this specific page *@
@section Scripts {
    <script src="~/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
    <script src="~/Areas/Admin/Content/Scripts/EditArticle.js"></script>

    <script src="~/Areas/Admin/Content/Scripts/SavedInfoPanel.js"></script>    





}
@section Styles {

    <link href="~/node_modules/jquery-ui-dist/jquery-ui.min.css" rel="stylesheet" />

}
<style>
    div.mce-fullscreen {
        z-index: 99999999999999999999;
    }
</style>
<h2><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Úprava článku</h2>

@* Invokes View Component that renders edit fields *@

<div id="mainForm">
    @await Component.InvokeAsync("EditArticle", new { articleId = Model })
</div>