body {
    background-image: url(../Images/art1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.j-footer {
    background-color:#e9e9e9;
    margin-top: 20px;
}

.container {
    
}

.jasper-container-outer {
   
    padding: 0px;
  
   
   background-color:white;
   
}
.jasper-container-inner {
   margin-top:20px;
  
 
   
}


@media (max-width: 768px) {

    .jasper-container-outer {
        width:100%;
        margin:0px;
        padding:0px;
    }

    .jasper-container-inner {
        margin:0px;
     width:100%;
        background-color: white;
    }

    body {
        margin:0px;
        padding:0px;
        background-image: none;
    }

 
}


 /*@media (min-width: 576px) {
    
     .container {
      
     }

}
 @media (min-width: 768px) {
    
}

@media (min-width: 992px) {

}

 @media (min-width: 1200px) {
    
}*/