
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>  
   
    
    <link href='@Href("~/Themes/Jasper/Styles/style.css")' rel="stylesheet" />
    <script src='@Href("~/Themes/Jasper/Scripts/script.js")'></script>

</head>
<body>
    <h1>Toto je layout default design</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
