@using JasperSiteCore.Helpers;
@using JasperSiteCore.Models.Database
@inject DatabaseContext databaseContext

@{
    Layout = Helper.JasperUrl("_Layout.cshtml", addTilde: true);
    ViewData["Title"] = "O Projektu";
}


<div class="container-fluid">
    <div class="jumbotron">
        <h1>O Autorovi</h1>
    </div>

    <p>
        @J.Holder("AboutPageHolder",databaseContext)
    </p>
</div>