
@{
    Layout = "~/Themes/Jasper/_Layout.cshtml";
}
<h1>---name-of-article</h1>
 
@{ var query = Convert.ToInt32(Context.Request.Query["id"]) ;}

    <j-article id="@query">
         <j-name /> <br />
         <j-content />
    </j-article>


    
  


