@using JasperSiteCore.Models.Database
@inject DatabaseContext databaseContext
@{ var query = Convert.ToInt32(Context.Request.Query["id"]);}
@{
    Layout = Helper.JasperUrl("_Layout.cshtml", addTilde: true);
    ViewData["Title"] = J.Db(databaseContext).GetAllArticles().Where(a => a.Id==query).Single().Name;
}

<div class="container-fluid">
    <j-article id="@query">

        <div class="jumbotron">
            <h1> <j-name /></h1>
        </div>

        <j-content />
    </j-article>


</div>



