@using JasperSiteCore.Models.Database
@{
    Layout = "~/Themes/Jasper/_Layout.cshtml";
}
<h1>Toto jsou kategorie</h1>
<p>
 @foreach(Article a in DbHelper.GetAllArticles())
 {
     <b>@a.Name</b> <br />
      <blockquote>
          @Html.Raw(a.HtmlContent)
      </blockquote> <br />
      <hr />
 }

  </p>


