@using JasperSiteCore.Models.Database;
@model JasperSiteCore.Areas.Admin.ViewModels.EditUserViewModel
@{
    ViewData["Title"] = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts {

    <script src="~/Areas/Admin/Content/Scripts/SavedInfoPanel.js"></script>
}



<div id="mainForm">
  @Html.Partial("EditUserPartialView")
</div>