@using JasperSiteCore.Models.Database;
@model JasperSiteCore.Areas.Admin.ViewModels.UsersViewModel
@{
    ViewData["Title"] = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="~/Areas/Admin/Content/Scripts/SavedInfoPanel.js"></script>
    
}
<div class="jumbotron j-jumbotron"><h1><i class="fa fa-diamond j-icon" aria-hidden="true"></i> Uživatelé</h1></div>

<section class="j-admin-section">
    <h2><i class="fa fa-user j-icon" aria-hidden="true"></i>  Nový uživatel</h2>
    <div class="input-group">
        <div class="input-group-btn">
            <a class="btn btn-jasper" asp-area="admin" asp-controller="Users" asp-action="AddUser"> Přidat nového uživatele </a>
        </div>
    </div>
    <hr />
</section>

<section class="j-admin-section">
    <div id="mainFormPartial">
        @Html.Partial("UserListPartialView")
    </div>
</section>
<div id="modalTargetDiv"></div>
