
@{
    ViewBag.Title = "Categories";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron"><h1><i class="fa fa-diamond j-icon" aria-hidden="true"></i> Rubriky</h1></div>

<p>
   Zde si nastavte vaše rubriky
</p>