@model JasperSiteCore.Areas.Admin.ViewModels.CategoriesViewModel
@using JasperSiteCore.Models.Database;

<script>
/* AJAX REMOVE CATEGORY */
    $(document).ready(function () {

            var allRemoveLinks = $('a[data-delete-id]').click(function (e) {

                e.preventDefault();
                var singleLink = $(this);

                var categoryToBeRemovedId = singleLink.data('deleteId');


                $.ajax({
                    type: 'get',
                    url: '@Url.Action("DeleteCategory","Categories")',
                    data: { id: categoryToBeRemovedId },
                    dataType: 'HTML',
                    success: function (data) {

                        $("#categoryPartialForm").html(data);

                        savedInfo("<strong>Uloženo.</strong> Veškeré provedené změny byly uloženy.", "alert-success");
                        
                    }
                });
            });
        });
</script>

<section class="j-admin-section">
    <form asp-action="CreateNewCategory" asp-controller="Categories" method="post">
        <div class="input-group">
            <input autofocus  id="tbCategoryName" type="text" asp-for="NewCategory.NewCategoryName" placeholder="Název rubriky" class="form-control" name="btnCategoryName" />
            <span asp-validation-for="NewCategory.NewCategoryName" class="text-danger"></span>

            <div class="input-group-btn">
                <input type="submit" class="btn btn-jasper" style="width:200px" value="Vytvořit" id="btnSubmit" />
            </div>
        </div>
    </form>
    </section>

<section class="j-admin-section">
    <h2><i class="fa fa-table  j-icon" aria-hidden="true"></i> Přehled rubrik</h2>

    <p>
        <table class="table table-bordered j-table">
            <tr><th>Akce</th><th class="col-sm" style="text-align:left">Název</th> </tr>
            @foreach (Category c in Model.Categories)
            {
                <tr><td><a data-delete-id="@c.Id" asp-controller="Categories" asp-action="DeleteCategory" asp-route-id="@c.Id" asp-area="Admin" class="btn btn-jasper btn-jasper-delete"><i class="fa fa-trash fa-1x" aria-hidden="true"></i></a></td><td>@c.Name</td></tr>
            }
        </table>

    </p>
    </section>