@model JasperSiteCore.Areas.Admin.ViewModels.CategoriesViewModel
@using JasperSiteCore.Models.Database;
@{
    ViewBag.Title = "Categories";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts {
<script src="~/Areas/Admin/Content/Scripts/SavedInfoPanel.js"></script>
<script>
    /* AJAX */
    $(document).ready(function () {


    $('#btnSubmit').click(function (e) {
       
    e.preventDefault();

    var categoryName = $("#tbCategoryName").val();

    $.ajax({
    type: 'post',
    url: '@Url.Action("CreateNewCategory", "Categories")',
    data: { btnCategoryName: categoryName },
    dataType: 'HTML',
    success: function (data) {

        $("#categoryPartialForm").html(data);

    savedInfo("<strong>Uloženo.</strong> Veškeré provedené změny byly uloženy.", "alert-success");
    }
    });
    });
    });
    </script>
}

<div class="jumbotron"><h1><i class="fa fa-diamond j-icon" aria-hidden="true"></i> Rubriky</h1></div>


<h2><i class="fa fa-pencil  j-icon" aria-hidden="true"></i>  Nová rubrika</h2>



    <div id="categoryPartialForm">
        @Html.Partial("AddNewCategoryPartialView",Model)
    </div>


