@using JasperSiteCore.Helpers;
@{
    Layout = Helper.JasperUrl("_Layout.cshtml", addTilde: true);
    ViewData["Title"] = "O Projektu";
}


<div class="container-fluid">
    <div class="jumbotron">
        <h1>O Projektu</h1>
    </div>

    <p>
        Redakční systém <b>J<span style="color:tomato">asp</span>erSite<span style="color:deepskyblue">Core</span> </b>je systém pro správu
        webového obsahu, tzv. CMS (content management system). Umožňuje tedy svým uživatelům vytvářet webové stránky, přidávat nové 
        příspěvky a mnoho dalších věcí.   
    </p>

    <p>
        Tento systém byl navrhnut a implementován v rámci diplomové práce na téma: <b><i>Návrh a implementace redakčního systému
        v ASP.NET Core</i></b>. Autorem této práce je <b>Bc. Jaromír Kejda</b>, student posledního ročníku navazujícího studia informatiky
        na PEF ČZU v Praze.
    </p>

  

</div>