
@{
    Layout = "~/Themes/Jasper/_Layout.cshtml";
}

 
@{ var query = Convert.ToInt32(Context.Request.Query["id"]) ;}

<div class="container-fluid">
    <j-article id="@query">
       
        <div class="jumbotron">
            <h1> <j-name /></h1>
        </div>

        <j-content />
    </j-article>


</div>
  


