@model int
@using JasperSite.Models.Database
@inject DatabaseContext databaseContext


@{
    Layout = J.Layout("_Layout.cshtml");


    Article article = J.GetArticleById(Model);



    @if (article != null)
    {
        ViewData["Title"] = article.Name;
        ViewData["Keywords"] = article.Keywords;

        <div class="container-fluid article-text">
            <j-article id="@Model">

                <div class="jumbotron">
                    <h1> <j-name /></h1>
                    <small>Publikováno: <j-date /></small>
                </div>

                <j-content />
            </j-article>
        </div>
    }
    else
    {

        <div class="jumbotron"> <h2>Článek se nepodařilo nalézt.</h2></div>
        <p>
            Zadaný článek neexistuje, nebo je již nedostupný. <br />
        </p>
        <p>
            <a href="./"><i class="fa fa-undo"></i> Vrátit se na hlavní stránku.</a>
        </p>
    }

}




