@{
    ViewData["Title"] = Localizer["Unauthorized"].ToString();
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">@Localizer["Unsufficient permissions"]</h4>
    <p>
       @Localizer["You don't have permission to access this section."] <br />
    @Localizer["The following user role is required:"]

        <ul class="list-group">
            <li class="list-group-item">@Localizer["Admin"]</li>
        </ul>
    </p>

</div>


