@{
    ViewData["Title"] = "Unauthorized";
}

<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Nedostatečné oprávnění</h4>
    <p>
        Pro přístup do této sekce nemáte dostatečná oprávnění. <br />
        Pro přístup je vyžadována role:

        <ul class="list-group">
            <li class="list-group-item">Admin</li>
        </ul>
    </p>

</div>


