@model JasperSite.Areas.Admin.ViewModels.JasperJsonViewModel

@Html.Partial("_SuccessModalPartialViewTemp")
@Html.Partial("_ErrorModalPartialViewTemp")


<script>
    $(document).ready(function(){

        // By default, unobtrusive validation in partial view does not work after first submit
        UnobtrusiveValidationFix('#settingsForm');

    });
</script>
<form id="settingsForm" asp-action="SaveJasperJson" asp-controller="Settings"
      asp-area="Admin" data-ajax="true" data-ajax-method="POST" data-ajax-update="#mainForm2">
    <div class="form-group">
        <textarea asp-for="JasperJson" rows="10" class="form-control">test</textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-jasper"><i class="fa fa-floppy-o" aria-hidden="true"></i>Uložit a aplikovat</button>
    </div>
</form>