body {
    font-size: 1em;
    background-color: white;
    font-family: 'Alegreya Sans', sans-serif;
}

.main-color-icon {
    color: #E57373;
    padding-right:10px;
}

/* Admin section */


/* Header */
#headerPanel {
    background-color: #E57373;
    /*background-image: url("../Images/pink.png");*/
    background-size: 100%;
    border-bottom: 1px solid silver;
    display: flex;
    /*box-shadow: 0px 1px 10px tomato;*/
    color: white;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 5000;
}
.coreColor {
    color: #524e4e;
}

.aspColor {
    color: #524e4e;
}


.jasper-label {
    font-weight:bold;
}
.jasper-filter-panel 
{
   border:1px solid rgb(236,238,239);
   margin-top:10px;
   margin-bottom:10px;
}

.label-margins {
    margin-right: 10px;
    margin-left:10px;
}

.form-margins {
    margin-top:10px;
    margin-bottom:10px;
}

#headerPanel .mainToggleButton {
    width:32px;
    height:32px;
    margin:5px;
}

    #headerPanel .mainToggleButton img{
        width: 100%;
        height: 100%;
    }

    #headerPanel .headerLine {
        flex: 1;
        display: flex
    }
    #headerPanel .headerLine .mainTitle {
   margin-left:20px;
      padding:0px;
    }

    .jasperHeading {
        font-size:2em;
    }

/*End header */
.font-jasper {
    color: tomato;
}



/* Global styles */
/*input[type=submit]:hover, .jasper-btn
{
     background-color: lightgray;
}*/

 /*input[type=submit],.jasper-btn{  
        background-color: tomato ;
        color:white;
        font-weight:bold;
        
}*/

/*textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable- input:focus {
    border-color: #a8efff;
    -webkit-box-shadow: 0px 0px 3px 1px #a8efff;
    -moz-box-shadow: 0px 0px 3px 1px #a8efff;
    box-shadow: 0px 0px 3px 1px #a8efff;
}*/



/* Footer */
.footer-divider{
     background-color: white;      
    border-bottom:1px solid silver;
    margin-top:10px;
    
}

.footer-container{
    margin-top:10px;
}

footer div img {
    padding: 10px;
}

.jasper-table tr:hover {
   cursor: pointer;
   
}

    
    .jasper-table tr:not(:first-child):nth-child(even) td
    {
        background-color:#fedddd;
    }
    .jasper-table tr:not(:first-child):hover td {
        background-color: #eb9e9e;
    }

.jasper-table {
    font-size:1.1em;
}
#popup {
    background-color: lightgoldenrodyellow;
}


/* Custom graphics */
.banner1 {
    background-image: url(../Images/pattern2.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    padding: 0px;
    color: white;
    display: flex;
    font-size: 4em;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-left: 40px;
    
}

    .banner1 div {
        font-family: 'Dancing Script', cursive;
    }