/* Design for admin section */

body {
    font-size: 1em;
    background-color: white;
    font-family: 'Alegreya Sans', sans-serif;
}

/* margin-top -> content is not hidden under header panel */
.j-margin-top {
    margin-top: 95px;
}



/* General styles */
.j-base-color {
    color: #E57373;
}



hr {
    border: 0;
    height: 1px;
    background: #333;
    
}

/*---------------------Filter panel-----------------*/
.j-filter-panel 
{
   border:1px solid rgb(236,238,239);
   margin-top:10px;
   margin-bottom:10px;
   display:flex;
   flex-wrap:wrap;
}

/* direct divs are group containers 
    for label + input */
.j-filter-panel > div.j-filter-container 
{
    display:flex;   
    margin-bottom:5px;
    margin-top:5px;
}   

.j-filter-panel > div.j-filter-container div.j-label-container
{
    display: block;
    display: flex;  
}

.j-filter-panel > div.j-filter-container > div.j-label-container > div.j-label-container-inner
{
    margin:auto;
}

 .j-filter-panel > div.j-filter-container > div.j-input-container 
 {
     margin: auto;       
 }
/*---------------------END Filter panel-----------------*/  



/*---------------Header------------------------------*/
#headerPanel {
    background-color: #BA68C8;
    display: flex;
    color: white;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 5000;
    flex-wrap: wrap;
}

.j-gray-color {
    color:black;
}

.j-core-color {
    color: black;
}

/* Icon color */
.j-icon {
    color: 
    #CE93D8;
    padding-right: 10px;
}

/* One row of the header */
.j-flex-row {
    display:flex;
    flex-basis:100%;

    padding-right:2px;
}

/* Menu button style */
#headerPanel .mainToggleButton {
    width: 32px;
    height: 32px;
    margin:auto;
    margin-left:5px;
}

#headerPanel .mainToggleButton img {
    width: 100%;
    height: 100%;
}

/* "Jasper Site Core" header text container */
#headerPanel .headerLine {
    flex: 1;
}

#headerPanel .headerLine .mainTitle {
     margin-left: 20px;
     padding: 0px;
}

.jasperHeading {
    font-size: 2em;  

}


/*------------------------END header---------------------*/

/*------------------------------------ Vertical secondary header --------------------------------*/
.j-secondary-header {
    background-color:white;
    flex-wrap: wrap;
   
    -webkit-box-shadow: 0 4px 6px -3px #CE93D8;
    -moz-box-shadow: 0 4px 6px -3px #CE93D8;
         box-shadow: 0 4px 6px -3px #CE93D8;
    
}

.j-secondary-header .j-header-group {
    color: black;
    display: flex;
    flex-wrap: wrap;
}

.j-secondary-header .j-header-group-item {
    margin: auto;
}
/*------------------------------------ END Vertical secondary header ---------------------------*/

/*----------Custom table--------------*/
.j-table {
    font-size: 1.0em;   
    margin-top:5px;
}

table.j-table-text-center tr td, th {
    text-align: center;
}

table.j-table-clickable tr:hover {
    cursor: pointer;
}


.j-table tr:not(:first-child):nth-child(even) td {
    background-color: #efefef;
}

.j-table tr:not(:first-child):hover td {
    transition: background-color 0.5s ease;
    background-color: 
    #CE93D8;
    
}
/*----------END Custom table--------------*/




/* Custom graphics */


/*-----------Custom button----------*/

.btn-jasper {
    color: #ffffff !important; /*without !important it doesn't work with href */
    background-color: #BA68C8; 
    border-color: #FFFFFF;
    font-family: 'Alegreya Sans', sans-serif;
}


.btn-jasper-icon {
 
    padding:6px;
    width:60px;
  margin-top:1px;
  margin-left:1px;
 margin-bottom:1px;
    
}

.btn-user-icon {
    padding: 6px;
  
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
}

.btn-jasper:hover,
.btn-jasper:focus,
.btn-jasper:active,
.btn-jasper.active,
.open .dropdown-toggle.btn-jasper {
    color: #ffffff;
    background-color: #CE93D8;
    border-color: #FFFFFF;
    -webkit-box-shadow: 0 0 0 2px rgba(191, 63, 167, 0.45);
    box-shadow: 0 0 0 2px rgba(191, 63, 167, 0.1);
}

.btn-jasper:active,
.btn-jasper.active,
.open .dropdown-toggle.btn-jasper {
    background-image: none;
}

.btn-jasper.disabled,
.btn-jasper[disabled],
fieldset[disabled] .btn-jasper,
.btn-jasper.disabled:hover,
.btn-jasper[disabled]:hover,
fieldset[disabled] .btn-jasper:hover,
.btn-jasper.disabled:focus,
.btn-jasper[disabled]:focus,
fieldset[disabled] .btn-jasper:focus,
.btn-jasper.disabled:active,
.btn-jasper[disabled]:active,
fieldset[disabled] .btn-jasper:active,
.btn-jasper.disabled.active,
.btn-jasper[disabled].active,
fieldset[disabled] .btn-jasper.active {
    background-color: #CE93D8;
    border-color: #FFFFFF;
}

/*Custom delete button*/
.btn-jasper-delete {
    background-color: #C51162;
   
}

    .btn-jasper-delete:hover,
    .btn-jasper-delete:focus,
    .btn-jasper-delete:active,
    .btn-jasper-delete.active,
    .open .dropdown-toggle.btn-jasper {
        color: #ffffff;
        background-color: #EC407A;
        border-color: #ffffff;
        -webkit-box-shadow: 0 0 0 2px rgba(228, 47, 83, 0.15);
        box-shadow: 0 0 0 2px rgba(228, 47, 83, 0.15);
    }
/*-----------END Custom button----------------------*/



/*-----------Menu switching-------------------------*/
.j-flex-row.j-secondary-header.mobile {
    display: none;
}

@media (max-width: 550px) {
    .desktop {
        display: none;
    }

    .j-flex-row.j-secondary-header.mobile {
        display: flex;
    }

    .j-margin-top {
        margin-top: 105px;
    }
}
/*--------------END Menu switching------------------*/

/* --------------Custom search bar------------------*/
.jasper-textbox {
    background-color: #ffacac;
    border: 1px solid #ffe0e0;
    outline: none;
    color: black;
    padding: 10.8px;
    margin-right: 10px;
}

    .jasper-textbox::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: white;
    }

    .jasper-textbox::-moz-placeholder { /* Firefox 19+ */
        color: white;
    }

    .jasper-textbox:-ms-input-placeholder { /* IE 10+ */
        color: white;
    }

    .jasper-textbox:-moz-placeholder { /* Firefox 18- */
        color: white;
    }
/* ----------END Custom search bar-------------- */

.j-hamburger-menu {
   color:black;
}

    .j-hamburger-menu:hover {
        
        color: #CE93D8;
    }


.modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

.j-theme-table tr:not(:first-of-type){
    height:150px;
}

.j-admin-section {
margin-bottom:20px;
}

.j-left-border-block {
    border-left: 3px solid #BA68C8;
    padding-left: 4px;
}