@model JasperSite.Areas.Admin.Controllers.EditTextBlock
@using JasperSite.Models.Database
@inject DatabaseContext databaseContext

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@*<form asp-action="SaveBlock" asp-controller="Blocks" asp-area="Admin" data-ajax="true" data-ajax-method="POST" data-ajax-update="#mainForm" data-ajax-complete="savedInfo">*@
<form asp-action="SaveBlock" asp-controller="Blocks" asp-area="Admin" id="tinymceForm">

    <h2>@Localizer["Edit text block"]: <span id="modelNameHeader">@Model.Name</span></h2>

    <section class="j-admin-section">

        <div class="form-group">

            <input type="hidden" asp-for="Id" id="hiddenId" />


            <label asp-for="Name"></label>

            <input asp-for="Name" class="form-control" id="tbName" />
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>


        <div class="form-group">
            <label asp-for="Content"></label>

            <textarea asp-for="Content" class="form-control" rows="18" id="myTextArea"> </textarea>
            <span asp-validation-for="Content" class="text-danger"></span>

        </div>
        <div class="form-group">

            <a href="/Admin/Blocks/" class=" btn btn-secondary"><i class="fa fa-undo" aria-hidden="true"></i> @Localizer["Back to the list of blocks"]</a>
            <button id="btnSaveTinymce" type="submit" class="btn btn-jasper"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Localizer["Save changes"]</button>



        </div>

    </section>



</form>
