@model JasperSiteCore.Areas.Admin.ViewModels.EditArticleViewModel
@using JasperSiteCore.Models.Database
@using JasperSiteCore.Models
@{
    ViewData["Title"] = "Article";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@* Jquery UI is used only on this specific page *@
@section Scripts {
    <script src="~/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
    <script src="~/Areas/Admin/Content/Scripts/EditArticle.js"></script>
    <script src="~/Areas/Admin/Content/Scripts/SavedInfoPanel.js"></script>



    <script>
        /* AJAX TINYMCE SUBMIT */
        $(document).ready(function () {
            

            $('#btnSaveTinymce').click(function (e) {
                
                e.preventDefault();

                var frmValidation = $('#editForm').valid();
                if (frmValidation) {

                    var textarea = tinyMCE.activeEditor.getContent();
                    var model = {
                        Id: $("#hiddenId").val(),
                        Name: $("#tbName").val(),
                        HtmlContent: textarea,
                        PublishDate: $("#publishDate").val(),
                        SelectedCategoryId: $("#selectCategory").val()

                    };

                    $.ajax({

                        type: 'post',
                        url: '@Url.Action("PostArticle","Articles")',
                        data: model,
                        dataType: 'HTML',
                        success: function (data) {
                            savedInfo("<strong>Uloženo.</strong> Veškeré provedené změny byly uloženy.", "alert-success");
                        }
                    });

                }
                else {
                    return (false);

                }

               
            });

        });
    </script>

}
@section Styles {

    <link href="~/node_modules/jquery-ui-dist/jquery-ui.min.css" rel="stylesheet" />

}
<style>
    div.mce-fullscreen {
        z-index: 99999999999999999999;
    }
</style>
<div class="jumbotron j-jumbotron"><h1><i class="fa fa-pencil-square-o j-icon" aria-hidden="true"></i> Úprava článku</h1></div>


<section class="j-admin-section" >
<div id="mainForm">
    @* Invokes View Component that renders edit fields *@
    @*@await Component.InvokeAsync("EditArticle", new { articleId = Model })*@
    @Html.Partial("EditArticlePartialView",Model)
</div>
</section>
<div id="modalTargetDiv"></div>