@using JasperSiteCore.Areas.Admin.ViewModels
@model EditArticleViewModel
@*@Html.Partial("InsertImagePartialView")*@
@{ Html.RenderPartial("TinyMceSettingsPartialView");}
<script src="~/Areas/Admin/Content/Scripts/AlertWindow.js"></script>
<script>
    $(document).ready(function () {



        $("#btnDeleteArticle").click(function (e) {
            e.preventDefault();

            appendWindow("Skutečně odstranit článek?", `Tento článek bude nenávratně odstraněn.`, function () { window.location = "@Url.Action("Delete", "Articles", new { Area = "Admin",id=Model.Id })"; }, "#modalTargetDiv", "btn-jasper-delete", "fa fa-trash fa-1x", "Odstranit");
        });
    });
</script>



@*<form asp-action="Index" asp-controller="Article" asp-area="Admin" data-ajax="true" data-ajax-method="POST" data-ajax-update="#mainForm" data-ajax-complete='savedInfo("<strong>Uloženo.</strong> Veškeré změny byly uloženy.", "alert-success")'>*@
<form asp-action="PostArticle" asp-controller="Articles" asp-area="Admin" method="post" id="editForm">
    <div class="form-horizontal">



        <input id="hiddenId" type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Name"></label>
            <input id="tbName" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="HtmlContent"></label>

            <textarea asp-for="HtmlContent" class="form-control" rows="18" id="myTextArea"> </textarea>
            <span asp-validation-for="HtmlContent" class="text-danger"></span>

        </div>

    

        <div class="form-group">
            <label asp-for="Categories"></label>

            <select id="selectCategory" class="form-control" asp-for="SelectedCategoryId" asp-items="@(new SelectList(Model.Categories,"Id","Name"))"></select>

            <span asp-validation-for="Categories" class="text-danger"></span>

        </div>

        <div class="form-group">
            <label asp-for="PublishDate"></label>

            <input id="publishDate" type="text" asp-for="PublishDate" class="form-control tbPublishDate" />
            <span asp-validation-for="PublishDate" class="text-danger"></span>
        </div>

       

        @*-------------------CUSTOM ROUTING------------------------*@
        <div class="form-group">
            <label asp-for="Url"></label>
            <input id="tbUrl" asp-for="Url" class="form-control" placeholder="Pokud nechcete přidávat další URL adresu, ponechte pole prázdné." />
            <span asp-validation-for="Url" class="text-danger"></span>
        </div>


        <div id="urlList">
            @Html.Partial("UrlListPartialView", new UrlListViewModel() { ArticleId = Model.Id, Urls = Model.AllUrl })
        </div>

        @*-------------------CUSTOM ROUTING------------------*@








        <div class="form-group">

            <button id="btnSaveTinymce" type="submit" asp-area="Admin" asp-controller="Articles" asp-action="PostArticle" class="btn btn-jasper"><i class="fa fa-floppy-o" aria-hidden="true"></i> Uložit</button>
            <a asp-controller="Articles" asp-action="Index" asp-area="admin" class=" btn btn-secondary"><i class="fa fa-undo" aria-hidden="true"></i> Zpět na přehled</a>

            <a id="btnDeleteArticle" asp-area="Admin" asp-controller="Articles" asp-action="Delete" asp-route-Id="@Model.Id" class="btn btn-jasper btn-jasper-delete"> <i class="fa fa-trash fa-1x" aria-hidden="true"></i>   Odstranit článek</a>



        </div>
    </div>

</form>

