<script>
    $(document).ready(function () {

        $("#tbAddImg").click(function () {
            //var sr = "http://static2.wikia.nocookie.net/__cb20090624134711/runescape/images/8/85/Smiley.svg";
            //tinymce.activeEditor.insertContent('<img alt="Smiley face" height="42" width="42" src="' + sr + '"/>');


            ShowImageDialog(); 

        });

        function ShowImageDialog() {

            $("#dialog").dialog();
            GetImagesId();   
        }
      

        function GetImagesId() {

             $.ajax({
                    type: 'get',
                    url: '@Url.Action("GetImagesId", "Images")',
                    dataType: 'json',
                    success: function (data) {

                        ShowImages(data);


                    }
                });

        }

        function FetchDataAjax(id) {

              $.ajax({
                    type: 'get',
                  url: '@Url.Action("GetImageForImageList", "Images")',
                  data: {id:id},
                    dataType: 'json',
                    success: function (data) {

                        AppendImage(data);


                    }
                });

        }

        function AppendImage(data) {
            
            $("#imgTable tr:last").after(`<tr data-image-id="${data.id}"><td>${data.name}</td>  <td><img class="img-fluid" src="data:image/png;base64,${data.data}"  title="${data.name}" /></td><td><a href="#" class="btn btn-jasper">vložit</a></td></tr>`);
            $(`#imgTable tr[data-image-id='${data.id}']`).click(function () {
                tinymce.activeEditor.insertContent(`<img alt="${data.name}"  src="@Url.Action("GetImage","Images")?id=${data.id}"/>`)
            });
            
        }

        function ShowImages(data) {

            //console.log(data);


            var i;
            for (i = 0; i <data.length; i++) {
                var id = data[i];
                FetchDataAjax(id);
            }

           

        }



    });
</script>

<div id="dialog" title="Vložení obrázku" style="overflow-y:auto">
    <h1>Seznam obrázků</h1>

    <table id="imgTable" class="table table-bordered j-table j-table-text-center">
        <tr><th>Název</th><th>Náhled</th><th>Vložit</th></tr> 

    </table>

</div>