@{
    Layout =J.Layout("_Layout.cshtml");
    ViewData["Title"] = "O Autorovi";
}


<div class="container-fluid">
    <div class="jumbotron">
        <h1>O Autorovi</h1>
    </div>

    <p>
      Autorem tohoto redakčního systému a související diplomové práce je Bc. Jaromír Kejda.
    </p>

</div>