
@{
    Layout = J.Layout("_Layout.cshtml", Context.Request);
    ViewData["Title"] = "About Author";
}


<div class="container-fluid">
    <div class="jumbotron">
        <h1>About Author</h1>
    </div>

    <p>
        The author of this content management system and the relating master's thesis is Bc. Jaromír Kejda.
    </p>

</div>