@{
    ViewData["Title"] = "Chyba";
    Layout = "~/Themes/Default/_Layout.cshtml";
}

<div class="jumbotron">
    <h1><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  Something went wrong. </h1>
</div>


<div class="alert alert-warning">
    <strong>Error.</strong>  An unexpected error occured or the requested page does not exist.
</div>


