@model JasperSiteCore.Areas.Admin.ViewModels.SettingsViewModel
@using JasperSiteCore.Models.Database
@using  JasperSiteCore.Models
@{
    ViewData["Title"] = "Nastavení";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts {


    <script src="~/Areas/Admin/Content/Scripts/SavedInfoPanel.js"></script>
}

<div class="jumbotron j-jumbotron"><h1><i class="fa fa-diamond j-icon" aria-hidden="true"></i>Nastavení</h1></div>

<div id="mainForm">
    <form asp-action="SaveSettings" asp-controller="Settings" asp-area="Admin" data-ajax="true" data-ajax-method="POST" data-ajax-update="#mainForm" data-ajax-complete="savedInfo('<strong>Uloženo.</strong> Veškeré provedené změny byly uloženy.', 'alert-success')">
        <div class="form-horizontal">

            @*<div asp-validation-summary="All" class="text-danger"></div>*@

            <div class="form-group">
                <label asp-for="WebsiteName"></label>

                <input asp-for="WebsiteName" class="form-control" />
                <span asp-validation-for="WebsiteName" class="text-danger"></span>

            </div>


            <div class="form-group">


                <button type="submit" asp-area="Admin" asp-controller="Settings" asp-action="SaveSettings" class="btn btn-jasper"><i class="fa fa-floppy-o" aria-hidden="true"></i>Uložit změny</button>



            </div>
        </div>

    </form>

</div>