@model JasperSiteCore.Areas.Admin.ViewModels.SettingsViewModel
@using JasperSiteCore.Models.Database
@using  JasperSiteCore.Models
@{
    ViewData["Title"] = "Nastavení";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts {


    <script src="~/Areas/Admin/Content/Scripts/SavedInfoPanel.js"></script>
}

@Html.Partial("_ErrorModalPartialView")

<div class="jumbotron j-jumbotron"><h1><i class="fa fa-diamond j-icon" aria-hidden="true"></i>Nastavení</h1></div>

<section class="j-admin-section">
    <h2><i class="fa fa-file-text  j-icon" aria-hidden="true"></i> Název webové stránky</h2>
    <div id="mainForm">
        <form asp-action="SaveSettings" asp-controller="Settings" asp-area="Admin" data-ajax="true" data-ajax-method="POST" data-ajax-update="#mainForm" data-ajax-complete="savedInfo('<strong>Uloženo.</strong> Veškeré provedené změny byly uloženy.', 'alert-success')">
            <div class="form-horizontal">

                @*<div asp-validation-summary="All" class="text-danger"></div>*@

                <div class="form-group">
                    <label asp-for="WebsiteName"></label>

                    <input asp-for="WebsiteName" class="form-control" />
                    <span asp-validation-for="WebsiteName" class="text-danger"></span>

                </div>


                <div class="form-group">


                    <button type="submit" asp-area="Admin" asp-controller="Settings" asp-action="SaveSettings" class="btn btn-jasper"><i class="fa fa-floppy-o" aria-hidden="true"></i>Uložit změny</button>



                </div>
            </div>

        </form>

    </div>
</section>


<section class="j-admin-section">
    <h2><i class="fa fa-database j-icon" aria-hidden="true"></i> Instalace systému a správa databáze</h2>

 
        <table class="table j-table-no-hover table-bordered">
            <tr><th>Akce</th><th>Popis</th></tr>
            <tr><td style="padding:5px"><a class="btn btn-jasper" asp-controller="Install" asp-action="Index" asp-area="Admin">Zobrazit instalační okno</a></td><td>Tato možnost zobrazí instalační okno, pomocí něhož je možné obnovit tovární nastavení redakčního systému.</td></tr>
        </table>
    

</section>


<section class="j-admin-section">
    <h2><i class="fa fa-diamond j-icon" aria-hidden="true"></i> Globální konfigurační soubor jasper.json</h2>

    <form method="post" asp-controller="Settings" asp-action="SaveJasperJson" asp-area="admin">
        <textarea asp-for="JasperJson" rows="15" class="form-control" >test</textarea>
        <button type="submit"  class="btn btn-jasper"><i class="fa fa-floppy-o" aria-hidden="true"></i>Uložit soubor jasper.json </button>
    </form>  


</section>