@model JasperSiteCore.Areas.Admin.ViewModels.SettingsNameViewModel

@Html.Partial("_SuccessModalPartialViewTemp")
@Html.Partial("_ErrorModalPartialViewTemp")

<script src="~/Areas/Admin/Content/Scripts/PartialViewUnobtrusiveFix.js"></script>
<script>
    $(document).ready(function(){   

        // By default, unobtrusive validation in partial view does not work after first submit
        UnobtrusiveValidationFix("#settingsForm");

    });
</script>

<form id="settingsForm" asp-action="SaveSettings" asp-controller="Settings"
 asp-area="Admin" data-ajax="true" data-ajax-method="POST" data-ajax-update="#mainForm">
    
    <div class="form-horizontal"> 
        <div class="form-group">
            <label asp-for="WebsiteName"></label>
            <input asp-for="WebsiteName" class="form-control" />
            <span asp-validation-for="WebsiteName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-jasper"><i class="fa fa-floppy-o" aria-hidden="true"></i>Uložit změny</button>
        </div>
    </div>

</form>