@using JasperSite.Models.Database;
@model JasperSite.Areas.Admin.ViewModels.UsersViewModel
@{
    ViewData["Title"] = Localizer["Users"];
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@section Scripts {

    <script src="~/Areas/Admin/Content/Scripts/AlertWindow.js"></script>


}

@section Styles {

    <link href="~/node_modules/jquery-ui-dist/jquery-ui.theme.min.css" rel="stylesheet" />
}





<h2>@Localizer["Users"]</h2>

<section class="j-admin-section">
    <h4><i class="fa fa-user j-icon" aria-hidden="true"></i>@Localizer["New user"]</h4>
    <div class="input-group">
        <div class="input-group-btn">
            <a class="btn btn-jasper" asp-area="admin" asp-controller="Users" asp-action="AddUser"> @Localizer["Add new user"] </a>
        </div>
    </div>
</section>

<section class="j-admin-section">
    <div id="mainFormPartial">
        @Html.Partial("UserListPartialView")
    </div>
</section>
<div id="modalTargetDiv"></div>
